name: Build Windows Client

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install nuitka
          pip install imageio

      - name: Build Single EXE with Nuitka
        run: |
          python -m nuitka --onefile --windows-disable-console --assume-yes-for-downloads `
          --windows-icon-from-ico=LOGO.icns `
          --enable-plugin=pyside6 `
          --include-package-data=certifi `
          --include-package=websockets `
          --include-data-file="Client/gui/stylesheet.qss=Client/gui/stylesheet.qss" `
          --output-dir=build `
          TEXTERE2EE.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TEXTERE2EE-Windows-EXE
          path: build/TEXTERE2EE.exe  # Path to the single executable
